{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<body>
        <h1 class='text-center pt-2 text-white'> Bienvenue sur mon application de gestion </h1>


        {# {# <ul> 
            {% for leContact in lesContacts %}
                <li> {{leContact |upper}} </li>
            {% endfor %} #}
          {# /* {% if age > 18 %}
                    vous êtes majeur
            {% else %}
                    vous êtes mineur 
            {% endif %} */
        </ul>  #}
</body>
{% endblock %}
