{% extends 'base.html.twig' %}

{% block title %}Fiche contact{% endblock %}

{% block body %}

<h1 class='text-center pt-3 pb-3 text-white' >Fiche Contact </h1>
<div class="row">
    
   {{include('contact/_cardFicheContact.html.twig') }}
</div>
{% endblock %}
