{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}

<h1 class='text-center pt-2 text-white' >Liste des Contacts</h1>
<div class="row">
  {%  for lecontact in LesContacts %}
    <div class='col-sm-12 col-md-12 col-lg-4 col-xl-3 '>
        {{ include('contact/_cardListeContact.html.twig') }}
    </div>
    {% endfor %}
</div>

{% endblock %}
