<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mes Contact{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        
        {% endblock %}

        {% block javascripts %}
         {% endblock %}

    </head>
    <body>
          {#navbar#}
          <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Mes Contacts</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"         aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"  role="botton" aria-haspopup="true" aria-expression="false">Gestion des contacts </a>
                  <div calss="dropdown-memu" style="">
                     <a class="dropdown-item" href="{{path('app_contact')}}"> Liste des contacts </a>
                     <div class="dropdown-divider" ></div>
                      <a class="dropdown-item" href="">Listes des Hommes</a>
                      <a class="dropdown-item" href="">Listes des Femmes</a>
                  </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Listes des Catégories</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>  


            <div class="container">
             {% block body %}

             {%  endblock %}
            </div>

       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
